version: '3.8'

services:
  db:
    image: postgres:15
    container_name: unisism_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: unisism_pass
      POSTGRES_DB: unisism
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: .
    container_name: unisism_api
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  postgres_data: